<%= render 'lists_header' %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3>Lists</h3></div>
	<div class="panel-body">
	<%= bootstrap_form_for(@list, layout: :horizontal) do |f| %>
		<%= f.static_control :list_id %>
		<%= f.static_control :list_name %>
		<%= f.static_control :list_description %>
		<%= f.static_control :active %>
		<%= f.static_control :campaign_name do %>
			<%= link_to @list.campaign_name, campaign_path(@list.campaign_id), class: "label label-default" %>
		<% end %>
		<%= f.static_control :reset_time %>
	<% end %>
	</div>
	</div>
	<div class="row"><%= link_to "Back", lists_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Download", list_path << ".csv", :data => {:toggle => "modal", :target => "#downloadModal"},class: "btn btn-primary" %><%= link_to "Edit", edit_list_path, class: "btn btn-info" %></div></div><p>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Downloading List</h4>
      </div>
      <div class="modal-body">
        Your CSV file is being prepared
      </div>
    </div>
  </div>
</div>
