<% provide(:title, 'Site') %>
<div class="container">
	<div class="jumbotron">
		<h1>Site Information</h1>
		<p><%= "#{@site.company}" %></p>
		<p><%= "#{@site.site} Dialler" %></p>
		<p>Maven CC <%= mavencc_version %></p>
		<p><%= "#{@site.license_type} Seat License" %></p>
		<% @site.modules.each do |m| %>
			<p><%= "#{m[0]} #{m[1]}" %></p>
				<% end -%>
	</div>
</div>
