<% provide(:title, 'Site') %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3>Site Information</h3></div>
	<div class="panel-body">
		<p><%= "#{@site.company}" %></p>
		<p><%= "#{@site.site} Dialler" %></p>
		<p>Maven CC <%= mavencc_version %></p>
		<p><%= "#{@site.license_type} Seat License" %></p>
		<% @site.modules.each do |m| %>
			<p><%= "#{m[0]} #{m[1]}" %></p>
				<% end -%>
	</div>
	</div>
	</div>
