<%= render 'sessions_header' %>
	<h1>Please Log In</h1>
	<%= bootstrap_form_tag(url: sessions_path) do |f| %>
		<%= f.text_field :user %>
		<%= f.password_field :password %>
		<%= f.submit "Log In", class: "btn btn-primary btn-block" %>
	<% end %>
</div>
</div>
