<%= render 'admin/admin_header' %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3>Statuses</h3></div>
	<div class="panel-body">
	<%= bootstrap_form_for(@status, layout: :horizontal) do |f| %>
		<%= f.static_control :id %>
		<%= f.static_control :status %>
		<%= f.static_control :status_name %>
		<%= f.static_control :category %>
		<%= f.static_control :selectable %>
		<%= f.static_control :human_answered %>
		<%= f.static_control :sale %>
		<%= f.static_control :dnc %>
		<%= f.static_control :customer_contact %>
		<%= f.static_control :not_interested %>
		<%= f.static_control :unworkable %>
		<%= f.static_control :scheduled_callback %>
		<%= f.static_control :completed %>
	<% end %>
	</div>
	</div>
	<div class="row"><%= link_to "Back", statuses_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_status_path, class: "btn btn-info" %></div></div><p>
</div>
</div>
</div>
