<div class="row">
	<div class="col-lg-2">	
		<ul class="nav nav-pills nav-stacked" id="tab-menu">
			<li <%= admintab_active('add_status',@admin_tab) %>><%= link_to "Add System Status", new_status_path %></li>
			<li <%= admintab_active('status',@admin_tab) %>><%= link_to "Show System Statuses", statuses_path %></li>
			<li <%= admintab_active('add_status_category',@admin_tab) %>><%= link_to "Add Status Category", new_status_category_path %></li>
			<li <%= admintab_active('status_category',@admin_tab) %>><%= link_to "Show Status Categories", status_categories_path %></li>
		</ul>
		<%= render 'layouts/support' %>
	</div>
