<%= render 'user_groups_header' %>
		<%= bootstrap_form_for(@user_group) do |f| %>
			<%= f.static_control :user_group %>
						
			<%= f.text_field :group_name %>
			
			<div class="row"><%= link_to "Back", user_groups_path, class: "btn btn-default" %><div class="pull-right"><%= f.submit "Submit", class: "btn btn-large btn-primary" %></div></div>
		<% end %>
	</div>
</div>
