<% provide(:title, 'User Groups') %>
	<h1>User Groups</h1>
	<%= render 'users/usertab' %>
	<div class="col-md-8">
		<%= bootstrap_form_for(@user_group) do |f| %>
			<%= f.text_field :user_group, :placeholder => 'At least 2 characters and no more than 20 characters'%>
						
			<%= f.text_field :group_name %>
			
			<%= f.submit "Create", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
</div>
