<%= render 'user_groups_header' %>
		<%= bootstrap_form_for(@user_group) do |f| %>
			<%= f.text_field :user_group, :placeholder => 'At least 2 characters and no more than 20 characters'%>
						
			<%= f.text_field :group_name %>
			
			<div class="row"><%= link_to "Back", user_groups_path, class: "btn btn-default" %><div class="pull-right"><%= f.submit "Create", class: "btn btn-large btn-primary" %></div></div>
		<% end %>
	</div>
</div>
