<% provide(:title, 'User Groups') %>
	<h1>User Groups</h1>
<%= render 'users/usertab' %>
<div class="col-md-8">
	<%= bootstrap_form_for(@user_group) do |f| %>
		<%= f.static_control :user_group %>
		<%= f.static_control :group_name %>
	<% end %>
<p><%= button_to "Back", user_groups_path, :method => :get%></button><p>
</div>
</div>
</div>
</div>
