<%= render 'user_groups_header' %>
	<%= bootstrap_form_for(@user_group, style: :horizontal) do |f| %>
		<%= f.static_control :user_group %>
		<%= f.static_control :group_name %>
	<% end %>
<div class="row"><%= link_to "Back", user_groups_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_user_group_path, class: "btn btn-info" %></div></div>
</div>
</div>
