<div class="row">
	<div class="col-lg-2">	
		<ul class="nav nav-pills nav-stacked" id="tab-menu">
			<li <%= usertab_active('add',@user_tab) %>><%= link_to "Add User", new_user_path %></li>
			<li <%= usertab_active('list',@user_tab) %>><%= link_to "Show Users", users_path %></li>
			<li <%= usertab_active('group-add',@user_tab) %>><%= link_to "Add Group", new_user_group_path %></li>
			<li <%= usertab_active('group-list',@user_tab)%>><%= link_to "Show Groups", user_groups_path %></li>
		</ul>
		<%= render 'layouts/support' %>
	</div>
