<%= render 'users_header' %>
		<%= bootstrap_form_for(@user) do |f| %>
			<%= f.static_control :user %>
						
			<%= f.password_field :pass, label: "Password", placeholder: 'At least 8 characters including both upper and lower case letters' %>
			
			<%= f.text_field :full_name, :placeholder => 'Enter the users first and last names' %>
			
			<%= f.select(:user_level, User::USER_LEVELS) %>
			
			<%= f.collection_select :user_group, UserGroup.all, :id, :user_group %>
			
			<%= f.text_field :phone_login, :placeholder => 'optional' %>
			
			<%= f.text_field :phone_pass, :placeholder => 'optional' %>
			
			<div class="row"><%= link_to "Back", users_path, class: "btn btn-default" %><div class="pull-right"><%= f.submit "Submit", class: "btn btn-large btn-primary" %></div></div>
		<% end %>
	</div>
</div>
