<% provide(:title, 'Users') %>
	<h1>Users</h1>
<div class="row">
	<div class="col-md-2">	
		<ul class="nav nav-pills nav-stacked">
			<li><%= link_to "Add User", new_user_path %></li>
			<li><%= link_to "List Users", users_path %></li>
			<li class="active"><%= link_to "Search for User", '#' %></li>
			<li><%= link_to "List Groups", '#' %></li>
			<li><%= link_to "Add Group", '#' %></li>
		</ul>
	</div>
<%= @user.errors.full_messages %>
