<%= render 'users_header' %>
		<%= bootstrap_form_for(@user, layout: :horizontal) do |f| %>
			<%= f.static_control :user %>
			<%= f.static_control :full_name %>
			<%= f.static_control :user_level %>
			<%= f.static_control :user_group do %>
				<%= link_to @user.user_group, user_group_path(UserGroup.find_by(user_group: @user.user_group)), class: "label label-default" %>
			<% end %>
		<% end %>	
	<div class="row"><%= link_to "Back", users_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_user_path, class: "btn btn-info" %></div></div><p>
</div>
</div>
</div>
