<% provide(:title, 'Leads') %>
	<h1>Leads</h1>
	<%= render 'lists/list_tab' %>
	<div class="col-md-8">
		<div class="pull-right"><%= bootstrap_form_tag(url: search_leads_path, :method => 'get', layout: :inline) do |f| %>
			<%= f.search_field :search %>
			<%= f.submit "Search", :name => nil %>
		<% end %>
		</div>
		<%= will_paginate %>
		<div class="table-responsive">
			<small><%= page_entries_info @leads %></small>
			<table class="table table-striped">
				<tr><th><%= sortable "lead_id" %></th><th><%= sortable "first_name" %></th><th><%= sortable "last_name" %></th><th><%= sortable "phone_number" %></th><th><%= sortable "list_id" %></tr>
				<% @leads.each do |l| %>
				<tr><td><span class="label label-info"><%= link_to l.lead_id, l %></span></td><td><%= l.first_name %></td><td><%= l.last_name %></td><td><%= l.phone_number %></td><td><%= l.list.list_id %></td></tr>
				<% end %>
			</table>
		</div>
		<%= will_paginate %>
		<div class="row"><%= link_to "Back", lists_path, class: "btn btn-default" %></div>
	</div>
</div>
