	<%= render 'leads_header' %>
		<span class="input-group-addon">
		<%= bootstrap_form_tag(url: search_leads_path, :method => 'get', layout: :inline) do |f| %>
			<%= f.search_field :search_by_postcode, value: params[:search_by_postcode] %>
			<%= f.submit "Search", :name => nil %>
		<% end %>
		<%= bootstrap_form_tag(url: search_leads_path, :method => 'get', layout: :inline) do |f| %>
			<%= f.search_field :search_by_phone, value: params[:search_by_phone] %>
			<%= f.submit "Search", :name => nil %>
		<% end %>
		</span>
		<%= will_paginate %>
		<div class="table-responsive">
			<small><%= page_entries_info @leads %></small>
			<table class="table table-striped">
				<tr><th><%= sortable "lead_id" %></th><th><%= sortable "first_name" %></th><th><%= sortable "last_name" %></th><th><%= sortable "phone_number" %></th><th><%= sortable "list_id" %></tr>
				<% @leads.each do |l| %>
				<tr><td><span class="label label-info"><%= link_to l.lead_id, l %></span></td><td><%= l.first_name %></td><td><%= l.last_name %></td><td><%= l.phone_number %></td><td><%= link_to l.list_id, list_path(l.list_id), class: "label label-info" %></td></tr>
				<% end %>
			</table>
		</div>
		<%= will_paginate %>
		<div class="row"><%= link_to "Back", search_leads_path, class: "btn btn-default" %></div>
	</div>
</div>
