<%= render 'leads_header' %>
		<%= bootstrap_form_for(@lead) do |f| %>
			
			<%= f.static_control :list_id do %>
				<%= link_to @lead.list_id, list_path(@lead.list_id), class: "label label-default" %>
			<% end %>
			
			<%= f.static_control :phone_code %>
			
			<%= f.static_control :phone_number %>
			
			<%= f.static_control :title %>
			
			<%= f.static_control :first_name %>
			
			<%= f.static_control :last_name %>
			
			<%= f.static_control :address1 %>
			
			<%= f.static_control :address2 %>
			
			<%= f.static_control :address3 %>
			
			<%= f.static_control :city %>
			
			<%= f.static_control :province %>
			
			<%= f.static_control :postal_code %>
			
			<%= f.static_control :comments %>
				
			<div class="row"><%= link_to "Back", lists_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_lead_path, class: "btn btn-info" %></div></div>
		<% end %>
	</div>
</div>
