<%= render 'leads_header' %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3>Leads</h3></div>
	<div class="panel-body">
		<%= bootstrap_form_for(@lead, layout: :horizontal) do |f| %>
			
			<%= f.static_control :list_id do %>
				<%= link_to @lead.list_id, list_path(@lead.list_id), class: "label label-default" %>
			<% end %>
			
			<%= f.static_control :status do %>
				<%= "#{@lead.status} - #{status_name_lookup(@lead.status)}" %>
			<% end %>
			
			<%= f.static_control :phone_code %>
			
			<%= f.static_control :phone_number %>
			
			<%= f.static_control :title %>

			<%= f.static_control :first_name %>
			
			<%= f.static_control :last_name %>
			
			<%= f.static_control :address1 %>
			
			<%= f.static_control :address2 %>
			
			<%= f.static_control :address3 %>
			
			<%= f.static_control :city %>
			
			<%= f.static_control :province %>
			
			<%= f.static_control :postal_code %>
			
			<%= f.static_control :comments %>
			</div>
			</div>
				
			<div class="row"><%= link_to "Back", search_leads_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_lead_path, class: "btn btn-info" %></div></div>
		<% end %>
	</div>
</div>
