<%= bootstrap_form_for(@campaign, layout: :horizontal) do |f| %>
	<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#basic">
          <div class="text-center">Basic Settings</div>
        </a>
      </h4>
    </div>
    <div id="basic" class="panel-collapse collapse in">
      <div class="panel-body bg-info">
					<% if self.action_name == 'edit' %>
						<%= f.static_control :campaign_id %>
					<% elsif self.action_name == 'new' %>
						<%= f.text_field :campaign_id, :placeholder => 'Between 2 and 8 characters' %>
					<% end %>
					<%= f.text_field :campaign_name, :placeholder => 'Between 2 and 8 characters' %>
					<%= f.text_field :campaign_description, :placeholder => 'Optional' %>
					<%= f.select :active, Campaign::ACTIVE %>
					<%= f.collection_select :user_group, UserGroup.all, :id, :user_group %>
					<%= f.collection_select :lead_filter_id, Filter.all, :lead_filter_id, :lead_filter_id %>
					<%= f.collection_select :script_id, Script.all, :id, :script_name %>
				
			</div>
		</div>
		</div>
		<div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#dialler">
          <div class="text-center">Dialler Settings</div>
        </a>
      </h4>
    </div>
    <div id="dialler" class="panel-collapse collapse">
      <div class="panel-body bg-success">
      
      <%= f.select :dial_method, Campaign::DIAL_METHOD %>
			<%= f.select :auto_dial_level, Campaign::AUTO_DIAL_LEVEL %>
			<%= f.select :adaptive_intensity, Campaign::ADAPTIVE_INTENSITY %>
      <%= f.select :adaptive_dropped_percentage, Campaign::ADAPTIVE_DROP_LIMIT %>
      <%= f.select :lead_order, Campaign::LEAD_ORDER %>
			<%= f.select :hopper_level, Campaign::HOPPER_LEVEL %>
			<%= f.select :available_only_ratio_tally, Campaign::ACTIVE %>
			<%= f.select :available_only_tally_threshold, Campaign::AVAILABLE_ONLY_TALLY_THRESHOLD %> 
			<%= f.select :available_only_tally_threshold_agents, Campaign::AVAILABLE_ONLY_TALLY_THRESHOLD_AGENTS, label: "Agents" %>
			<%= f.select :adaptive_dl_diff_target, Campaign::ADAPTIVE_DL_DIFF_TARGET %>			
			<div class="center">
			<%= link_to "Advanced Settings", "#advDiallerModal", class: "btn btn-success", :data => { :toggle => "modal" } %>
			</div>
		</div>
		</div>
		</div>
		</div>
					<div class="row"><%= link_to "Back", back_action, class: "btn btn-default" %><div class="pull-right"><%= f.submit "Submit", class: "btn btn-large btn-primary" %></div></div>
		<% end %>
