<%= render 'campaigns_header' %>
		<%= bootstrap_form_for(@campaign, layout: :horizontal) do |f| %>
			<%= f.static_control :campaign_id %>
						
			<%= f.text_field :campaign_name, :placeholder => 'Between 2 and 8 characters' %>

			<%= f.text_field :campaign_description, :placeholder => 'optional' %>
			
			<%= f.select(:active, Campaign::ACTIVE) %>
						
			<%= f.collection_select :user_group, UserGroup.all, :id, :user_group %>
			
			<div class="row"><%= link_to "Back", campaigns_path, class: "btn btn-default" %><div class="pull-right"><%= f.submit "Submit", class: "btn btn-large btn-primary" %></div></div>
		<% end %>
	</div>
</div>
