<%= render 'campaigns_header' %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3><%= "#{@campaign.campaign_id}  -  #{@campaign.campaign_name}" %></h3></div>
	<div class="panel-body">
	<%= bootstrap_nested_form_for(@campaign, layout: :horizontal) do |f| %>
		<%= f.static_control :campaign_id %>
		<%= f.static_control :campaign_name %>
		<%= f.static_control :campaign_description %>
		<%= f.static_control :active do %>
			<%= link_to @campaign.active, campaign_path(@campaign, :active => @campaign.active), class: "label #{item_active(@campaign.active)}" %>
		<% end %>
		<% @statuses.each.with_index do |s,index| %>
			<%= f.static_control nil, label: "Dial Status #{index + 1}" do %>
			<%= s %>
			<%= link_to "Remove", campaign_path(@campaign, :dial_status => s ), class: "label label-warning" %>
		<% end %>
		<% end %>
		<%= f.static_control :user_group %>
		<%= f.static_control :lead_order %>
		<%= f.static_control :hopper_level %>
		<%= f.static_control :dial_method %>
		<%= f.static_control :auto_dial_level %>
		<%= f.static_control :adaptive_intensity %>
		<% end %>
		</div>
		</div>
	<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">Lists within this campaign</h3></div>
	<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-hover" id="lists-in-campaign">
		<tr><th <%= sortable "list_id" %></th><th <%= sortable "list_name" %></th><th <%= sortable "active" %></th><th <%= sortable "Leads" %></th><th <%= sortable "Last called" %></th></tr>
		<% @campaign.lists.each do |l| %>
		<tr><td><span class="label label-info"><%= link_to l.list_id, l %></span></td><td><%= l.list_name %></td><td><%= link_to l.active, campaign_path(@campaign, :list => l.list_id, :activate_list => l.active, :anchor => "lists-in-campaign"), class: "label #{item_active(l.active)}" %></td><td><%= l.leads.count %></td><td><%= l.list_lastcalldate.to_date %></td></tr>
		<% end %>
		</table>
	</div>
	<br>
	<h3 class="bg-info"><%= number_with_delimiter(@leads_in_campaign, :delimiter => ',') %> leads to be dialled in this campaign</h3>
	</div>
	</div>
	<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">Lead statuses within selected lists</h3></div>
	<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed">
		<tr><th>Status</th><th>Status Name</th><th>Total Leads</th></tr>
		<% @statuses_in_campaign.each do |s| %>
		<tr><td><%= s[0].to_s %></td><td><%= Status.where("status = ?","#{s[0]}").pluck(:status_name)[0] %></td><td><%= s[1].to_s %></td></tr>
		<% end %>
		</table>
	</div>
	</div>
	</div>
	<div class="row"><%= link_to "Back", campaigns_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_campaign_path, class: "btn btn-info" %></div></div><p>
</div>
</div>
</div>
