<%= render 'campaigns_header' %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3>Campaigns</h3></div>
	<div class="panel-body">
	<%= bootstrap_form_for(@campaign, layout: :horizontal) do |f| %>
		<%= f.static_control :campaign_id %>
		<%= f.static_control :campaign_name %>
		<%= f.static_control :campaign_description %>
		<%= f.static_control :active %>
		<%= f.static_control :user_group %>
	<% end %>
	</div>
	</div>
	<div class="row"><%= link_to "Back", campaigns_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_campaign_path, class: "btn btn-info" %></div></div><p>
</div>
</div>
</div>
