<%= render 'campaigns_header' %>
	<div class="panel panel-default">
	<div class="panel-heading"><h3><%= "#{@campaign.campaign_id}  -  #{@campaign.campaign_name}" %></h3></div>
	<div class="panel-body">
	<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#basic">
          <div class="text-center">Basic Settings</div>
        </a>
      </h4>
    </div>
    <div id="basic" class="panel-collapse collapse in">
      <div class="panel-body bg-info">
				<%= bootstrap_form_for(@campaign, layout: :horizontal) do |f| %>
					<%= f.static_control :campaign_id %>
					<%= f.static_control :campaign_name %>
					<%= f.static_control :campaign_description %>
					<%= f.static_control :active do %>
						<%= link_to @campaign.active, campaign_path(@campaign, :active => @campaign.active), class: "label #{item_active(@campaign.active)}" %>
					<% end %>
					<div class="panel panel-info">
					<div class="panel-body bg-default">
						<% @statuses.each.with_index do |s,index| %>
						<%= f.static_control nil, label: "Dial Status #{index + 1}" do %>
						<%= "#{s} - #{Status.find_by_status(s).status_name}" %>
						<%= link_to "Remove", campaign_path(@campaign, :remove_dial_status => s ), class: "label label-warning" %>
						<% end %>
						<% end %>
						<div class="center">
						<%= link_to "Add Dial Status", "#addStatusModal", class: "btn btn-success", :data => { :toggle => "modal" } %>
						</div>
				</div>
			</div>
				<%= f.static_control :user_group do %>
					<%= link_to @campaign_user_group, user_group_path(@campaign.user_group), class: "label label-default" %>
				<% end %>
				<% end %>
			</div>
		</div>
		</div>
		<div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#dialler">
          <div class="text-center">Dialler Settings</div>
        </a>
      </h4>
    </div>
    <div id="dialler" class="panel-collapse collapse">
      <div class="panel-body bg-success">
      <%= bootstrap_form_for(@campaign, layout: :horizontal) do |f| %>
      <%= f.static_control :dial_method %>
			<%= f.static_control :auto_dial_level %>
			<%= f.static_control :adaptive_intensity %>
      <%= f.static_control :adaptive_dropped_percentage do %>
      	<%= number_to_percentage(@campaign.adaptive_dropped_percentage, precision: 2) %>
      <% end %>
      <%= f.static_control :lead_order %>
			<%= f.static_control :hopper_level %>
			<% end %>
		</div>
		</div>
		</div>
		</div>
	<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">Lists within this campaign</h3></div>
	<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-hover" id="lists-in-campaign">
		<tr><th <%= sortable "list_id" %></th><th <%= sortable "list_name" %></th><th <%= sortable "active" %></th><th <%= sortable "Leads" %></th><th <%= sortable "Last called" %></th></tr>
		<% @campaign.lists.each do |l| %>
		<tr><td><span class="label label-info"><%= link_to l.list_id, l %></span></td><td><%= l.list_name %></td><td><%= link_to l.active, campaign_path(@campaign, :list => l.list_id, :activate_list => l.active, :anchor => "lists-in-campaign"), class: "label #{item_active(l.active)}" %></td><td><%= l.leads.count %></td><td><%= l.list_lastcalldate.to_date %></td></tr>
		<% end %>
		</table>
	</div>
	<br>
	<h3 class="bg-info"><%= number_with_delimiter(@leads_in_campaign, :delimiter => ',') %> leads to be dialled in this campaign</h3>
	</div>
	</div>
	<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">Lead statuses within selected lists</h3></div>
	<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed">
		<tr><th>Status</th><th>Status Name</th><th>Total Leads</th></tr>
		<% @statuses_in_campaign.each do |s| %>
		<tr><td><%= s[0].to_s %></td><td><%= Status.where("status = ?","#{s[0]}").pluck(:status_name)[0] %></td><td><%= s[1].to_s %></td></tr>
		<% end %>
		</table>
	</div>
	</div>
	</div>
	<div class="row"><%= link_to "Back", campaigns_path, class: "btn btn-default" %><div class="pull-right"><%= link_to "Edit", edit_campaign_path, class: "btn btn-info" %></div></div><p>
</div>
</div>
</div>

<!-- Add Status Modal -->
<div class="modal fade" id="addStatusModal" tabindex="-1" role="dialog" aria-labelledby="AddStatus" aria-hidden="true">
	<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="AddStatus">Add Dial Status</h4>
      </div>
      <div class="modal-body">
      <%= bootstrap_form_tag(url: campaign_path(@campaign), :method => 'get') do |f| %>
				<%= f.select :add_dial_status, options_from_collection_for_select(Status.all, 'status', 'full_status_name') %>
				<%= f.submit "Add", class: "btn btn-success" %>
			<% end %>
      </div>
      <div class="modal-footer">
      	<%= link_to "Cancel", "#", class: "btn btn-default btn-block", :data => {:dismiss => "modal"} %>
      </div>
      </div>
     </div>
    </div>
   </div>
