<header class="navbar navbar-default navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><%= link_to image_tag("mavencc.png"), root_path, id: "logo", class: "img-rounded" %></a>
  	</div>	 
  	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
    <li <%= current_nav("users") %>><%= link_to "Users", users_path %></li>
    <li <%= current_nav("campaigns") %>><%= link_to "Campaigns", campaigns_path %></li>
    <li <%= current_nav("lists") %><%= current_nav("leads") %>><%= link_to "Lists", lists_path %></li>
    <li><%= link_to "Filters", '#' %></li>
    <li><%= link_to "Inbound", '#' %></li>
    <li><%= link_to "Remote Workers", '#' %></li>
    <li <%= current_nav("admin") %>><%= link_to "Admin", admin_index_path %></li>
    <li> </li>
    </ul>
	<div class="nav navbar-nav navbar-right">
    	<% if current_user %>
    		<div class="btn-group">
    		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %> <span class="caret"></span></button>  
    		<ul class="dropdown-menu" role="menu" id="user-menu">
    		<li><%= link_to "Details", user_path(current_user.id) %></li>
				<li><%= link_to "Log Out", logout_path %></li>
		</ul>
		</div>
		<% else %>
		<%= link_to "Log In", login_path, class: "btn btn-info" %>  <% end %>
		</div>
		</div>
    </header>
